body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(29, 113, 186);
}

h1 {
    font-size: 15rem;
    font-family: Arial, Helvetica, sans-serif;
}

.letter {
    transition: color 1000ms;
}